@import url('https://fonts.googleapis.com/css2?family=Mukta'); 



:root{
    --white: #FFF;
    --red: #e63636;
    --dark1: #181818;
    --dark2:  #1e1e1e;
    --purple1: #9333FF;
    --purple2:  indigo;
    --green: rgb(103, 195, 80);
    --green2: rgb(51, 149, 26);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark1);
}

.container{
    background-color: var(--white);
    width: 460px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--dark2);
}

.container h1{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;

}

form{
    display: flex;
    margin-bottom: 8px;
}

form input{
    flex: 1;
    padding: 6px;
    font-size: 1rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--dark1);
    background-color: var(--dark2);
    outline: none;
}

form button{
    padding: 6px;
    font-size: 1rem;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--dark1);
    color: var(--white);
    transition: all 0.3s ease;

}

form button:hover{
    background-color: var(--dark2);
}

#stock-list{
    list-style: none;
}

#stock-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid  #ccc;
    
}

#stock-list li:last-child{
    border-bottom: none;
}

li.error{
    color: var(--red);
}





